body {
    font-family: 'Noto Sans';
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 128px; 
}

.card {
    border-radius: 10px;
}

.result ul {
    padding: 0;
}

.result li {
    font-size: 18px;
}
